@import "vars";
@import "libs";
@import "fonts";
@import "global";

html {
	overflow-x: hidden;
}

body {
	font-family: 'Roboro Flex', sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
	overflow-x: hidden;
}

// scroll
body::-webkit-scrollbar {
	width: 10px;
}

body::-webkit-scrollbar-track {
	background: $acc-light-gray;
	border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
	background-color: $green;
	border-radius: 8px;
	border: 8px solid $green;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0px 10px;
	margin: 0 auto;
}

.btn {
	@include btn;
}

.section-title {
	@include title;
}

.section-subtitle {
	@include subtitle;
}

.main {
	padding-top: 40px;
}

.fancybox__backdrop {
	background: rgba(24, 24, 27, 0.785);
}

.fancybox__content {
	background: none;
	padding: 0;
}

.is-compact .fancybox__content>.f-button.is-close-btn {
	top: -43px;
}


#technologies__img *, #structurally__gif * {
	fill-opacity: 0;
}

#technologies__img.finished * , #structurally__gif.finished *{
	fill-opacity: 1;
	transition: fill-opacity .5s;
}

@import "./section/header";
@import "./section/offer";
@import "./section/structurally";
@import "./section/services";
@import "./section/technologies";
@import "./section/stages";
@import "./section/form";
@import "./section/pos";
@import "./section/spec";
@import "./section/reviews";
@import "./section/ques";
@import "./section/footer";
@import "media";