@import "vars";
@import "libs";
@import "fonts";
@import "global";

html {
	overflow-x: hidden;
}

body {
	font-family: 'Roboro Flex', sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #333333;
}

.container {
	width: 100%;
	max-width: 1230px;
	padding: 0px 10px;
	margin: 0 auto;
}

.btn {
	@include btn;
}

.section-title {
	@include title;
}

.section-subtitle {
	@include subtitle;
}

.main {
	padding-top: 206px;
	@include breakpoint(lg) {
		padding-top: calc(206px / 10 * 6)
	}
}

.fancybox__backdrop {
	background: rgba(24, 24, 27, 0.785);
}

.fancybox__content {
	background: none;
	padding: 0;
}

.is-compact .fancybox__content>.f-button.is-close-btn {
	top: -43px;
}


@import "./section/header";
@import "./section/offer";
@import "./section/structurally";
@import "./section/services";
@import "./section/technologies";
@import "./section/stages";
@import "./section/form";
@import "./section/pos";
@import "media";