.services {
	margin-top: 66px;
	margin-bottom: 91px;
@include breakpoint(md) {
	margin-bottom: 49px;
}

	&__title {
		margin-bottom: 83px;
	}

	&__menu {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		@include breakpoint (md) {
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;
		}
	}

	&__item {
		&:nth-child(4), &:nth-child(5), &:nth-child(6) {
			margin-top: 83px;
			margin-bottom: 45px;
		}
		@include breakpoint (md) {
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(6), &:nth-child(5) {
				margin-top: 0;
				margin-bottom: 32px;
			}
			&:nth-child(9) {
				margin-top: 11px;
			}
		}
		display: flex;
		gap: 10px;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}

	&__img {
		@include breakpoint (lg) {
			display: block;
			width: 50%;
		}
	}
	&__btn {
		display: block;
		margin-top: 15px;
		max-width: 161px;
		padding: 10px 33px;
		color: $white;
		@include breakpoint(md) {
			font-size: 14px;
			line-height: 120%;
		}
	}
}
.services-menu {

	&__title {
		font-size: 24px;
		line-height: 151.5%;
		font-weight: 600;
		text-align: center;
		@include breakpoint(lg) {
			font-size: 16px;
		}
	}
}