.stages {
	padding-top: 65px;
	padding-bottom: 50px;
	@include breakpoint(md) {
		padding-top: 26px;
		padding-bottom: 55px;
	}

	&__menu {
		display: grid;
		grid-template-areas: 
			"a ."
			"a b"
			"a b"
			"a b"
			"c b"
			"c d"
			"c d"
			"c d"
			"e d"
			"e d"
			"e f"
			"e f"
			"e f"
			". f";
		gap: 60px;
		height: 100%;
		@include breakpoint(lg) {
			gap: 30px;
		}
		@include breakpoint(md) {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 50px;
			margin-top: 55px;
		}
	}

	&__item {
		display: flex;
		align-items: center;
		@include breakpoint(md) {
			flex-direction: column;
		}
		&:nth-child(2n) {
			justify-content: flex-end;
		}
		&:nth-child(1) {
			grid-area: a;
			.text {
				width: 255px;
			}
		}
		&:nth-child(2) {
			grid-area: b;
			.text {
				width: 277px;
			}
		}
		&:nth-child(3) {
			grid-area: c;
			.text {
				width: 152px;
			}
		}
		&:nth-child(4) {
			grid-area: d;
			.text {
				width: 105px;
			}
		}
		&:nth-child(5) {
			grid-area: e;
			.text {
				width: 150px;
			}
		}
		&:nth-child(6) {
			grid-area: f;
			.text {
				width: 165px;
			}
		}
		img {
			@include breakpoint(lg) {
				width: 100%;
				max-width: 200px;
			}
			@include breakpoint(md) {
				width: 100%;
				max-width: 232px;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__text {
		width: 100%;
		text-align: center;
		margin-top: 40px;
	}
	.number {
		color: $green;
		font-size: 96px;
		line-height: 115px;
		font-weight: 900;
		@include breakpoint(lg) {
			font-size: 70px;
			line-height: 48px;
			display: block;
		}
		@include breakpoint(md) {
			font-size: 40px;
			line-height: 48px;
			display: block;
			margin-left: 50%;
		}
	}
	
}