.structurally {
	padding-top: 67px;
	padding-bottom: 66px;
	@include breakpoint (lg) {
		padding-top: 21px;
	} 
	&__content {
		margin-top: 83px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include breakpoint (lg) {
			flex-wrap: wrap;
			justify-content: center;
		}
	}
	&__title {
		font-size: 96px;
			line-height: 115px;
			font-weight: 900;
			text-transform: uppercase;
			@include breakpoint (xxx) {
				font-size: 60px;
				line-height: 83px;
			}
			@include breakpoint (lg) {
				text-align: center;
			}
			@include breakpoint (840) {
				text-align: center;
				font-size: 36px;
				line-height: 43px;
			}
		span:nth-child(1) {
			color: $green;
		}
		span:nth-child(2) {
			color: $footer-text-gray;
		}
	}
	&__gif {
		width: 100%;
		@include breakpoint (lg) {
			margin-top: 37px;
		} 		
		svg {
			width: 459px;
			height: 410px;
			@include breakpoint (lg) {
				width: 100%;
			}
			@include breakpoint(xs) {
				height: 194px;
			}
		}
	}
}